/* font insert */
@import url("https://fonts.cdnfonts.com/css/minecraftia");
@import url("https://fonts.cdnfonts.com/css/quub");
@import url("https://fonts.cdnfonts.com/css/crima-display");

body {
  background-color: rgb(255, 253, 242);
  margin: 1rem;
  padding-bottom: 10rem;
}
h1 {
  font-family: "Minecraftia", sans-serif;
  text-align: center;
  font-size: 4vh;
  z-index: 3;
  color: rgb(0, 0, 0);
  filter: drop-shadow(2px 2px rgb(255, 66, 132));
}
form {
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 154, 154, 0.5);
}

label {
  display: block;
  margin-bottom: 15px;
  font-family: "Minecraftia", sans-serif;
  text-align: center;
  font-size: 3vh;
  color: rgb(0, 0, 0);
  padding: 5px;
}
input {
  font-size: 25px;
  width: 17%;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  padding: 10px 15px;
  transition: transform 0.3s ease;
  border: solid black 3px;
}
input:hover {
  transform: scale(1.05);
}
button[type="submit"] {
  display: block;
  font-family: "QUUB", sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 7px;
  letter-spacing: 2px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 150px;
  margin: 20px auto;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
button[type="submit"]:hover {
  background-color: #ff0077;
  transform: scale(1.05);
  letter-spacing: 3px;
}
.sanrio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 0 50px;
  animation: fadeIn ease 2s;
}
.width-60 {
  width: 60%;
}

#sanrios {
  width: 95%;
  animation: float 3s ease-out infinite;
}
@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

#zodiac-buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 12%;
}
.container {
  display: flex;
}
.container div {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
/* each zodiac's button color */
.aries {
  background-color: #fff6c7;
}
.taurus {
  background-color: #c5e5fc;
}
.gemini {
  background-color: #e2ffee;
}
.cancer {
  background-color: #ffd7e8;
}
.leo {
  background-color: #ffd1cd;
}
.virgo {
  background-color: #ffd9bf;
}
.libra {
  background-color: #e1f5ff;
}
.scorpio {
  background-color: #ecddff;
}
.sagittarius {
  background-color: #d3dafc;
}
.capricorn {
  background-color: #ffea9f;
}
.aquarius {
  background-color: #ffb1be;
}
.pisces {
  background-color: #c2ffc0;
}

.sign {
  width: 170px;
  height: 65px;
  border-radius: 10%;
  font-size: 12px;
  cursor: pointer;
  border: solid;
  border-color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(255, 64, 96, 0.1);
  font-family: Dogica;
}
.sign:hover {
  transform: scale(1.15);
  box-shadow: 1px 7px 10px rgba(255, 11, 117, 0.2);
}
.sign:focus {
  box-shadow: 2px 5px 5px 5px rgba(0, 16, 198, 0.2), 0 0 2px 2px white;
  transform: scale(1.2);
}
#result {
  font-family: "QUUB", sans-serif;
  display: block;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
#description {
  width: 85%;
  font-size: 22px;
  text-align: center;
  font-family: "Crima", sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: #555555;
  line-height: 2rem;
  padding-top: 15px;
}
h2 {
  font-family: "QUUB", sans-serif;
  color: #ff0077;
  text-shadow: 2px 2px rgb(0, 0, 0);
  font-size: 250%;
  line-height: 55px;
}
h3 {
  font-family: "Crima", sans-serif;
  font-weight: lighter;
  font-size: 150%;
  text-align: center;
  padding: 1%;
  width: 85%;
  padding-left: 50px;
}

.popup {
  display: inline-block;
  padding-left: 25%;
  z-index: -1;
}

/* Hidden until clicked */
.popup .popuptext {
  margin-top: 3rem;
  margin-left: 0.5rem;
  visibility: hidden;
  width: 40%;
  opacity: 0.97;
  background-color: rgb(255, 255, 255);
  color: rgb(173, 44, 93);
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(255, 64, 96, 0.1);
  border: 5px solid rgb(255, 200, 217);
  border-radius: 15px;
  line-height: 200%;
  text-align: center;
}
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.98;
  }
}
